{
  "name": "two-soliton-X",
  "num_epochs": 5000,
  "num_pretrain_epochs": 2500,
  "num_samp_bulk": 96,
  "num_samp_eval": 256,
  "seed": 123,
  "lr": 0.001,
  "eta_min": 1e-05,
  "plot_interval": 50,
  "MLP": [2, 128, 128, 128, 1],
  "MLP_dims": [2, 128, 128, 128, 1],
  "omega_0": 30.0,
  "T": 1,
  "L": 10,
  "Lmax": 15,
  "vmin": 0,
  "vmax": 3,
  "equation_file": "equations.md",
  "loss_types": ["KDV", "IC", "BC"],
  "lambda_KDV": 1,
  "lambda_IC": 1,
  "lambda_BC": 1,
  "lambda_kdv": 1,
  "kappas": [2.0, 1.5],
  "x0s": [8, 5],
  "m": 0.5,
  "x0": 0.0,
  "output_dir": "output/two-soliton-X",
  "comments": "Two solitons crossing in the middle"
}
