{
  "name": "eight-soliton",
  "num_epochs": 5000,
  "num_pretrain_epochs": 1000,
  "num_samp_bulk": 96,
  "num_samp_eval": 256,
  "seed": 123,
  "lr": 0.001,
  "eta_min": 1e-05,
  "plot_interval": 50,
  "MLP": [2, 128, 128, 128, 1],
  "MLP_dims": [2, 128, 128, 128, 1],
  "omega_0": 30.0,
  "T": 2,
  "L": 25,
  "Lmax": 15,
  "vmin": 0,
  "vmax": 3,
  "equation_file": "equations.md",
  "loss_types": ["KDV", "IC", "BC"],
  "lambda_KDV": 1,
  "lambda_IC": 1,
  "lambda_BC": 1,
  "lambda_kdv": 1,
  "kappas": [2.8, 2.6, 2.4, 2.2, 2, 1.8, 1.6, 1.4],
  "x0s": [20, 18, 16, 14, 12, 10, 8, 6],
  "m": 0.5,
  "output_dir": "eight-soliton"
}
